h1, h2, h3, h4, h5, h6 {
  font-family: "Muli", sans-serif;
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.silvereffect {
  background-color: Silver;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(Gray), to(Silver));
  background-image: -webkit-linear-gradient(linear, 0% 0%, 0% 100%, from(Gray), to(Silver));
  background-image:    -moz-linear-gradient(100% 100% 90deg, Gray, Silver);
  background-image:     -ms-linear-gradient(100% 100% 90deg, Gray, Silver);
  background-image:      -o-linear-gradient(100% 100% 90deg, Gray, Silver);
  background-image:         linear-gradient(100% 100% 90deg, Gray, Silver);
}

.silvereffect-invert {
  background-color: Silver;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(Silver), to(Gray));
  background-image: -webkit-linear-gradient(linear, 0% 0%, 0% 100%, from(Silver), to(Gray));
  background-image:    -moz-linear-gradient(100% 100% 90deg, Silver, Gray);
  background-image:     -ms-linear-gradient(100% 100% 90deg, Silver, Gray);
  background-image:      -o-linear-gradient(100% 100% 90deg, Silver, Gray);
  background-image:         linear-gradient(100% 100% 90deg, Silver, Gray);
}

.logo {
  margin: 1em 0;
}

.image-slider {
  border: 5px solid #fff;
}

.image-slider ul {
  display: none;
}

.image-slider ul.orbit-slides-container {
  display: block;
}

.hidden {
  display: none;
}

header, main, footer {
  padding: 1em 0;
  display: block;
}

.type-page .entry-meta {
  display: none;
}

.type-post .entry-meta p {
  font-style: italic;
  font-size: .8em;
}

.type-post .entry-meta .category-links a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8em;
}

footer .google-maps {
  width: 100%;
  height: 250px;
  border: 0;
}

aside h2 {
  font-size: 1.8em;
}

aside p {
  font-size: .8em;
}

/* Small screens */
@media only screen {
  /* Define mobile styles */
}

@media only screen and (max-width: 40em) {
  /* max-width 640px, mobile-only styles, use when QAing mobile issues */
}

/* Medium screens */
@media only screen and (min-width: 40.063em) {
  /* min-width 641px, medium screens */
  .row {
    position: relative;
  }

  .logo {
    margin: 0;
    position: absolute;
    z-index: 999;
    top: 2em;
    left: 2em;
    width: 125%;
    clear: both;
    float: left;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
}

/* Large screens */
@media only screen and (min-width: 64.063em) {
  /* min-width 1025px, large screens */
}
